.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}
.inputs {
  display: flex;
  flex-direction: row;
}
.arrows {
  margin-top: 2rem;
  text-align: center;
  align-items: center;
  padding: 1rem 1rem;
}

.box-section {
  display: flex;
  flex-direction: row;
}

.box {
  width: 100px;
  min-height: 20px;
  border: 1px solid #666;
  font-size: 1vw;
}
.active {
  background: radial-gradient(#eee, #ccc, #aaa);
}

.arrow-container {
  padding: 1rem 1rem;
  letter-spacing: 2rem;
  font-size: 1.5rem;
}
